* {
  margin: 0;
  padding: 0;
}

.askNew form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  font-family: poppins;
  z-index: 10;
}

.submit {
  margin: 5px 0 0;
  background-color: rgb(33 150 243);
  border: 0;
  border-radius: 7px;
  font-family: poppins;
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

.askNew form input {
  margin: 10px;
  height: 26px;
  font-size: 15px;
  font-family: poppins;
}

.askNew form textarea {
  margin: 10px;
}

label textarea {
  display: flex;
  justify-content: center;
}

.askNew {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.heading {
  text-align: center;
  text-decoration: underline;
  font-family: poppins;
  margin: 10px 0;
}

.headContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.title {
  background-color: rgb(33 150 243);
  border-radius: 7px;
  padding: 10px;
  font-family: poppins;
}

.newBtn {
  padding: 8px;
  font-size: 15px;
  font-family: poppins;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}

.subCard {
  border-radius: 7px;
  border: 1px solid black;
  padding: 8px;
  font-family: poppins;
  width: 30%;
  margin: 10px;
}

.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  padding: 10px;
}

.Picon {
  margin: 8px;
  cursor: pointer;
}

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  background: white;
  padding: 20px
}

.formContainer label
{
  font-family: poppins;
}
.closeBtn
{
  margin-left: 10px;
  background-color: red;
  font-size: bold;
  cursor: pointer;
  border: 0;
  border-radius: 7px;
  font-family: poppins;
  font-size: 15px;
  padding: 5px;

}
.formContainer input
{
  font-size: 15px;
}




/* mediaaaaaaaaaaaaaaaa */
@media only screen and (max-width: 440px) {
  .formContainer {
    width: 70%;
  }
  textarea
  {
    width: 90%;
  }
  .formContainer input
  {
    width: 90%;
  }
  .subCard
  {
    width: 100%;
  }

}